<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="wrapper container">
    <div class="main">
        <main class="content">
            <div class="container-fluid p-0">
                <h1 class="h3 mb-3 clearfix">
                    User Details
                    <button class='btn btn-primary float-right' (click)='openModal()'>Add User</button>
                </h1>
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card">
                            <div class="card-body h-100">
                                <table class='table-bordered table'>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Joining Date</th>
                                            <th>User Type</th>
                                            <th>Mentor</th>
                                            <th>SNS Name</th>
                                            <th>Status</th>
                                            <th *ngIf='tk.role_name == "Admin"'>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let user of userlist | paginate: {itemsPerPage:10, currentPage: p}">
                                        <tr>
                                            <td>{{user.user_first_name}} {{user.user_last_name}}</td>
                                            <td>{{user.user_created_date  | date:'dd/MM/yyyy'}}</td>
                                            <td>{{user.role_name}}</td>
                                            <td *ngIf='user.mentor_name'>{{user.mentor_name}}</td>
                                            <td *ngIf='!user.mentor_name'>-</td>
                                            <td *ngIf='user.srs_name'>{{user.srs_name}}</td>
                                            <td *ngIf='!user.srs_name'>-</td>
                                            <td><span [ngClass] = "user.status == 'Enable' ? 'label label-success' : 'label label-danger'"> {{user.status}} </span></td>
                                            <td *ngIf='tk.role_name == "Admin"'>
                                                <div class='action-img-div'>
                                                    <img src='assets/img/edit.png' class='action-img' (click)='editUser(user.user_id);' />
                                                </div>                                              
                                                <div class='action-img-div'>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [attr.checked]="user.status == 'Enable' ? true : null" (change)='changeStatus($event,user.user_id)' />
                                                    </div>
                                                </div>
                                                <div class='action-img-div' *ngIf='user.role_name != "Mentee"'>
                                                    <img src='assets/img/access.png' class='action-img' (click)='toggleAccess(user.user_id);' />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id='row{{user.user_id}}' class='table-hidden-row' *ngIf='user.role_name != "Mentee"'>
                                            <td colspan='7'>
                                                <div class='row px-3'>
                                                    <div class="star01 s3">
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="faChkStr chk_{{user.user_id}}" name="access_check" id="sns_access" [(ngModel)]="access.sns_access" [checked]="access.sns_access == '1'">
                                                            <label for="sns_access"> &nbsp; SNS</label>
                                                        </div>
                                                    </div>
                                                    <div class="star01 s3">
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="faChkStr chk_{{user.user_id}}" name="access_check" id="user_access" [(ngModel)]="access.user_access" [checked]="access.user_access == '1'">
                                                            <label for="user_access"> &nbsp; User</label>
                                                        </div>
                                                    </div>
                                                    <div class="star01 s3">
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="faChkStr chk_{{user.user_id}}" name="access_check" id="event_access" [(ngModel)]="access.event_access" [checked]="access.event_access == '1'">
                                                            <label for="event_access"> &nbsp; Event</label>
                                                        </div>
                                                    </div>
                                                    <div class="star01 s3">
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="faChkStr chk_{{user.user_id}}" name="access_check" id="attendance_access" [(ngModel)]="access.attendance_access" [checked]="access.attendance_access == '1'">
                                                            <label for="attendance_access"> &nbsp; Attendance</label>
                                                        </div>
                                                    </div>
                                                    <div class="star01 s3">
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="faChkStr chk_{{user.user_id}}" name="access_check" id="calendar_access" [(ngModel)]="access.calendar_access" [checked]="access.calendar_access == '1'">
                                                            <label for="calendar_access"> &nbsp; Calendar</label>
                                                        </div>
                                                    </div>
                                                    <div class="star01 s3">
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="faChkStr chk_{{user.user_id}}" name="access_check" id="calendar_add_access" [(ngModel)]="access.calendar_add_access" [checked]="access.calendar_add_access == '1'">
                                                            <label for="calendar_add_access"> &nbsp; Calendar Add</label>
                                                        </div>
                                                    </div>
                                                    <div class="star01 s3">
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="faChkStr chk_{{user.user_id}}" name="access_check" id="blog_access" [(ngModel)]="access.blog_access" [checked]="access.blog_access == '1'">
                                                            <label for="blog_access"> &nbsp; Blog</label>
                                                        </div>
                                                    </div>
                                                    <div class="star01 s3">
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="faChkStr chk_{{user.user_id}}" name="access_check" id="blog_status_access" [(ngModel)]="access.blog_change_status_access" [checked]="access.blog_change_status_access == '1'">
                                                            <label for="blog_status_access"> &nbsp; Blog Status</label>
                                                        </div>
                                                    </div>
                                                    <div class="star01 s3">
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="faChkStr chk_{{user.user_id}}" name="access_check" id="blog_approve_access" [(ngModel)]="access.blog_approve_access" [checked]="access.blog_approve_access == '1'">
                                                            <label for="blog_approve_access"> &nbsp; Blog Approve</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='col-md-12'>
                                                        <button id='assign_btn' class='btn btn-primary w-auto' (click)='assignAccess(user.user_id,access.access_id)'>Assign</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination float-right">
                                    <li class="page-item"><a (click)="previousClick()" class="page-link">Previous</a></li>
                                    <li *ngFor='let index of pageIndexes' class="page-item">
                                        <a (click)="fetchUser(index)" id='pagination_{{index}}' class="page-link"> {{index}} </a>
                                    </li>
                                    <li class="page-item"><a (click)="nextClick()" class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div id="myModal" class="modal" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class='mb-3 card-header'>
                    <span *ngIf='!edit'>Add User</span>
                    <span *ngIf='edit'>Edit User</span>
                    <span class='close modal-close' (click)='closeModal()' data-dismiss="modal">&times;</span>
                </h5>
                <input type='hidden' id='hidden_id' />
                <div class='row px-4'>
                    <form  role="form" #f="ngForm" (ngSubmit)="f.form.valid && submit(f)"> 
                        <div class='col-md-6'>
                            <div class='form-group'>
                                <label for='mentee_first_name'>First Name<span style="color: red;">*</span></label>
                                <input type='text' placeholder='First Name' class='form-control' id='mentee_first_name' name="first_name" ngModel  #first_name="ngModel" [ngClass]="{'invalid-data': first_name.invalid && f.submitted, 'valid-data': first_name.valid && f.submitted}" required/>
                                <div class="error_msg" *ngIf="first_name.invalid && f.submitted">
                                    <small class="error_text"> First Name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class='form-group'>
                                <label for='mentee_last_name'>Last Name<span style="color: red;">*</span></label>                      
                                <input type='text' placeholder='Last Name' class='form-control' id='mentee_last_name' name="last_name" ngModel  #last_name="ngModel" 
                                [ngClass]="{'invalid-data': last_name.invalid && f.submitted, 'valid-data': last_name.valid && f.submitted}"
                                required />
                                <div class="error_msg"
                                *ngIf="last_name.invalid && f.submitted">
                                    <small class="error_text"> Last Name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class='form-group'>
                                <label for='mentee_email_id'>Email ID<span style="color: red;">*</span></label> 
                                <input type='text' placeholder='Email ID' class='form-control' id='mentee_email_id' name="mentee_email_id" ngModel  #mentee_email_id="ngModel" [ngClass]="{'invalid-data': mentee_email_id.invalid && f.submitted, 'valid-data': mentee_email_id.valid && f.submitted}" required  />
                                <div class="error_msg" *ngIf="mentee_email_id.invalid && f.submitted">
                                    <small class="error_text"> Email Id is required</small>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class='form-group'>
                                <label for='mentee_user_type'>User Type<span style="color: red;">*</span></label> 
                                <select class='form-control' id='mentee_user_type'>
                                    <option value='{{role.role_id}}' *ngFor="let role of userrole">{{role.role_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-6' *ngIf='edit'>
                            <div class='form-group'>
                                <label for='mentor_email_id'>Mentor Email Id<span style="color: red;">*</span></label> 
                                <input type='text' placeholder='Email ID' class='form-control' id='mentor_email_id' name="mentor_email_id" ngModel  #mentor_email_id="ngModel" [ngClass]="{'invalid-data': mentor_email_id.invalid && f.submitted, 'valid-data': mentor_email_id.valid && f.submitted}" required />
                                <div class="error_msg" *ngIf="mentor_email_id.invalid && f.submitted">
                                    <small class="error_text"> Mentor Email id is required</small>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6' *ngIf='role_nme == "Admin"'>
                            <div class='form-group'>
                                <label for='sns_name'>SNS Name<span style="color: red;">*</span></label> 
                                <select class='form-control snsselect' id='sns_name' [(ngModel)]='srs_name' name="sns_name" ngModel  #sns_name="ngModel" [ngClass]="{'invalid-data': sns_name.invalid && f.submitted, 'valid-data': sns_name.valid && f.submitted}" required>
                                    <option value=''>Select SRS Name</option>
                                    <option value='{{list.srs_id}}' *ngFor="let list of srslist">{{list.srs_name}}</option>
                                </select>
                                <div class="error_msg" *ngIf="sns_name.invalid && f.submitted">
                                    <small class="error_text"> SRS Name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class='form-group'>   
                                <label for='submit_btn' class='w-100'> &nbsp; </label>                
                                <button id='submit_btn' *ngIf='!edit' class='btn btn-primary'>Submit</button>
                                <!--  (click)='addUser($event)' -->
                                <button id='update_btn' *ngIf='edit' class='btn btn-primary' >Update</button>
                                <!-- (click)='updateUser($event);' -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>