<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="backdrop" [ngStyle]="{'display':eventmodaldisplay}"></div>

<section id='home-slider'>
    <div class="product-screens">
        <video autoplay="" muted="" playsinline="" loop="" id="home_banner" oncanplay="this.play()"
            onloadedmetadata="this.muted = true">
            <source src="../../../assets/img/home_banner.mp4" type="video/mp4">
        </video>
    </div>
</section>

<main id="main">
    <section id="upcoming" style="background-color: #d8ffec;">
        <div class="container-fluid " data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title upcoming">Upcoming Events</h3>
                <span class="section-divider"></span>
                <!-- <p class="section-description">Click on the below images to register yourself for the event and join us at the events</p> -->
            </div>
            <!--<owl-carousel-o [options]="customOptionsevents">
                <ng-template carouselSlide><img src="../../../assets/img/unsplash-1.jpg"></ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/unsplash-2.jpg"></ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/unsplash-3.jpg"></ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/unsplash-1.jpg"></ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/unsplash-2.jpg"></ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/unsplash-3.jpg"></ng-template>
            </owl-carousel-o> -->

            <owl-carousel-o [options]="customOptionsevents">
                <ng-template carouselSlide *ngFor='let list of eventlist'>
                    <img [src]='list.image_url' height="300vh" (click)='openEventRegister(list.event_id);'
                        style='cursor:pointer;' />
                </ng-template>
            </owl-carousel-o>

            <div class="row no-gutters">
                <!-- <div class="col-lg-4 col-md-6" *ngFor='let list of eventlist'>
                    <div class="gallery-item" style='cursor:pointer;' (click)='openEventRegister(list.event_id);'>
                        <a data-gall="portfolioGallery" class="gallery-lightbox">
                            <img [src]='list.image_url' class='w-100 h-100' alt="">
                        </a>
                    </div>
                </div> -->
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <a href='/gallery' class="gallery-lightbox more-gallery-lightbox">
                            To View More event images, <br/> <span class='light-box-view'>click here</span> <br/> <img src='assets/img/arrow.png' class='w-auto' />
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="section-header">
            <h3 class="section-title">About Us</h3>
            <span class="section-divider"></span>
        </div>
    </div>
    <section id="home-abt-new">
        <!-- -->
        <div class="container-fluid home-abt-nn d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="column" style="width: 55%;"></div>

                <div class="card" style="border-radius: 10px;padding: 10px;width: 45%;">
                    <div></div>
                    <div class="text-center">
                        <!-- <h3>Mission</h3> -->
                    </div>
                    <p class="m-0 about-text">Regular gathering of believers, worshipping God and deeper Bible studies
                        are key highlights of Sing and Share. We focus on deliberately building relationships, sharing
                        the good news, teaching the word of God, mentoring and coaching young people, building leaders
                        and transforming communities....<span> <a href="/mission">more</a></span></p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="about-new" class="section-bg">
        <div class="container-fluid" data-aos="fade-up">
           
            <img src="assets/img/home_abt_new.jpg" width="100%" height="auto" alt="">
            <div class="row">
                <div class="col-lg-12 about-img" data-aos="fade">

                </div>
            </div>
            
        </div>
    </section> -->

    <!-- <section id="about" class="section-bg">
        <div class="container-fluid" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">About Us</h3>
                <span class="section-divider"></span>
                <p class="section-description"> Mission and vision </p> 
            </div>
            <div class="row">
                <div class="col-lg-12 about-img" data-aos="fade-right" dat-aos-delay="100">
                    <img src="assets/img/about-img-1.jpg" alt="">
                </div>  
                 
                <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
                    <img src="assets/img/about-img-1.jpg" alt="">
                </div>  
                <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
                    <div data-aos="fade-up">
                        <h4 class="title"><a href=""><br>Purpose</a></h4>
                        <p class="description">Sing and Share is a community of young men and women who follow Jesus wholeheartedly. Our focus is on growing deep and wide. Deep in our relationship with Christ, wide in our relationship with one another. <br><i>"He is the one we proclaim, admonishing and teaching everyone with all wisdom, so that we may present everyone fully mature in Christ." Colossians 2:28</i></p>
                    </div>
                    <div data-aos="fade-up">
                        <h4 class="title"><a href=""><br>What do we do</a></h4>
                        <p class="description">Regular gathering of believers, worshipping God and deeper Bible studies are key highlights of Sing and Share. We focus on deliberately building relationships, sharing the good news, teaching the <a href="/mission">more....</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- <section id="blog" style="background-color: #d8ffec;" class="blog-area pt-115">
        <div class="container p-0">
            <div class="row justify-content-center">
                <div class="section-header">
                    <h3 class="section-title">Our Blog</h3>
                    <span class="section-divider"></span>
                     <p class="section-description"> All about us </p> 
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class=''>
                        <img src="assets/img/blog_all.jpg" alt="news" class='w-100'>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">                  
                    <div class="single-blog mt-30 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class='blog-redirect'>
                            <div class="blog-image">
                                <img src="../../../assets/img/no-img-found-medium.png" *ngIf='!imageToShow' alt="news" class='w-100 h-100'>
                                <img [src]="imageToShow" *ngIf='imageToShow' alt="news" class='w-100 h-100'>
                            </div>
                            <div class="blog-content" *ngIf='bloglist'>
                                <p class='blog-cat'>{{bloglist.category_name}}</p>
                                <h4 class="blog-title">{{bloglist.title}}</h4>
                                <div class="blog-author d-flex align-items-center">                                  
                                    <div class="author-content media-body">
                                        <p [innerHTML]='bloglist.description'> </p>
                                        <div class='read_more'>
                                            <a href='/singleblog/{{bloglist.blog_id}}'>
                                                Read More <img src='../../../assets/img/right-arrow.png' />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  single blog                    
                </div>
            </div>
        </div>
    </section> -->

    <section id="blog-new" class="blog-area pt-115">
        <div class="row justify-content-center">
            <div class="section-header">
                <h3 class="section-title">Our Blog</h3>
                <span class="section-divider"></span>
                <!-- <p class="section-description"> All about us </p>  -->
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 col-sm-4 bimg" style="height: 280px;">
                    <img src="assets/img/blog_all_new1.png" alt="news" class='w-100'>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <owl-carousel-o [options]="customOptionsblog">
                        <ng-template class='blog-image-item' carouselSlide *ngFor='let list of bloglist'>
                            <div class='blog-image-box'>
                                <img [src]="list.image_url" height="300vh" *ngIf='list.image_url' alt="news"
                                    style='cursor:pointer;' />
                                <img src="../../../assets/img/no-img-found-medium.png" *ngIf='!list.image_url'
                                    alt="news" height="300vh" style='cursor:pointer;' />
                            </div>
                        </ng-template>
                        <ng-template class='blog-image-item' carouselSlide *ngIf='bloglist.length == 0'>
                            <div class='blog-image-box'>
                                <img src="../../../assets/img/no-img-found-medium.png" height="300vh" alt="news" />
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>

            </div>
        </div>

    </section>

    <section id="gallery">
        <div class="container-fluid" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Gallery</h3>
                <span class="section-divider"></span>
                <!-- <p class="section-description">The photos of all our past events</p> -->
            </div>
            <!-- start of gallery -->

            <!--
       <h3 class="text-center">Gallery Demo 2</h3> -->
            <!-- <swiper [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="4"
                [autoplay]="true" [loop]="true"
                [coverflowEffect]="{rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows: true}"
                [pagination]="true" class="mySwiper">
                <ng-template swiperSlide><img height="300vh" src="../../../assets/img/gallery/gallery-1.jpg">
                </ng-template>
                <ng-template swiperSlide><img height="300vh" src="../../../assets/img/gallery/gallery-2.jpg">
                </ng-template>
                <ng-template swiperSlide><img height="300vh" src="../../../assets/img/gallery/gallery-3.jpg">
                </ng-template>
                <ng-template swiperSlide><img height="300vh" src="../../../assets/img/gallery/gallery-4.jpg">
                </ng-template>
                <ng-template swiperSlide><img height="300vh" src="../../../assets/img/gallery/gallery-5.jpg">
                </ng-template>
                <ng-template swiperSlide><img height="300vh" src="../../../assets/img/gallery/gallery-6.jpg">
                </ng-template>
            </swiper> -->

            <swiper  [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true"
                [slidesPerView]="4" [autoplay]="true" [loop]="true"
                [coverflowEffect]="{rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows: true}"
                [pagination]="true" class="mySwiper">
                <ng-template swiperSlide *ngFor='let list of galleryitems'>
                    <a href='/gallery/{{list.event_id}}' style='cursor:pointer;'>
                        <img height="300vh" [src]='list.image_url' style='width:100%;' />
                    </a>
                </ng-template>
              
            </swiper>

            <!-- end of gallery -->

            <!-- <div class="row no-gutters"> 
            <div class="col-lg-4 col-md-6" *ngFor='let list of galleryitems'>
              <div class="gallery-item">
                <a data-gall="portfolioGallery" href='/gallery/{{list.event_id}}' class="gallery-lightbox">
                  <img [src]='list.image_url' alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                  <a href='/gallery' class="gallery-lightbox more-gallery-lightbox">
                    To View More event images, <br/> <span class='light-box-view'>click here</span> <br/> <img src='assets/img/arrow.png' class='w-auto' />
                  </a>
                </div>
              </div>
          </div>   -->
        </div>
    </section>

    <section id="contact" class='p-0'>
        <div class="container-fluid p-0" data-aos="fade-up">
            <div class="row">
                <div class='col-md-3 contact-social '>
                    <div class="contact-social h-100 justify-content-center align-items-center"
                        style="background-color: #d8ffec;">
                        <div class="row ">
                            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
                                <a href="https://www.facebook.com/singNshare.co.in" target="_blank"> <img
                                        src="../../../assets/img/facebook.png" alt="social-link"></a>
                                <a href="https://youtube.com/channel/UCq9ktIpnlo8sTLsvJ4NqKCQ" target="_blank"> <img
                                        src="../../../assets/img/youtube.png" alt="social-link"></a>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
                                <a href="https://www.instagram.com/sing_n_share/?utm_medium/" target="_blank"><img
                                        src="../../../assets/img/insta.png" alt="social-link"></a>
                                <a href="mailto:sunil.dawson@gmail.com"><img src="../../../assets/img/email.png"
                                        alt="social-link"></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class='col-md-4 contact-form'>
                    <div class='section-header clearfix'>
                        <h3 class="section-title text-center">Contact Us</h3>
                        <span class="section-divider"></span>
                    </div>
                    <app-visitors></app-visitors>
                </div>
                <!-- <div class='col-md-1'> &nbsp; </div>              -->
                <div class="col-md-5 contact-img">
                    <img src='../../../assets/img/contact.jpg' class='w-100 h-100' />
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>

<div class="modal" id="event_register_modal" [ngStyle]="{'display':eventmodaldisplay}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <span class='close modal-close' (click)='closeEventRegister()'>&times;</span>
                <app-event-register> </app-event-register>
            </div>
        </div>
    </div>
</div>