<div class="super_container">
    <div class="blog_top_image">
        <div class="blog_top">
            <div class="blog_background parallax-window" data-parallax="scroll" [style.backgroundImage]="'url('+ imageToShow +')'" data-speed="0.8"></div>
        </div>
    </div>
    <div class="blog_container">
        <div class="container">
            <div class="row blog_content_row">
                <div class="col">
                    <div class="blog_content">
                        <div class="blog_post_title_container">
                            <div class="blog_category"><a href="#">{{blog.category_name}}</a></div>
                            <div class="blog_title">{{blog.title}}</div>
                            <share-buttons 
                                [include]="['facebook','linkedin','twitter','whatsapp','email']"
                                [url]= fburl
                                [image] = imageToShow 
                                [title] = blog.title 
                                [autoSetMeta]="false"
                            ></share-buttons>
                            <!-- [theme]="'material-dark'" --> <!-- [show]="9" [size]="1" -->
                        </div>
                        <div class="blog_text">
                            <p [innerHTML]='blog.description'></p>
                        </div>
                        <div class="blog_post_footer d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                            <div class="blog_post_author d-flex flex-row align-items-center justify-content-start">
                                <div class="author_image"><div><img src="../../../assets/img/user.png" alt="" class='w-100 h-100'></div></div>
                                <div class="author_info">
                                    <ul>
                                        <li><a href="#"> {{blog.user_first_name}} {{blog.user_last_name}}</a></li>
                                        <li>{{blog.created_date | date:'dd/MM/yyyy'}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row comments" *ngIf='comment.length > 0'>
                <div class="col-lg-12 offset-lg-3">
                    <div class="comments_title mb-4">Comments <span>( {{comment.length}} )</span></div>
                    <div class="comments_container">
                        <ul class="comments_list">
                            <li class="comment" *ngFor='let list of comment'>
                                <div class="comment_content">
                                    <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                        <div class="comment_image"><div><img src="../../../assets/img/user.png" alt=""></div></div>
                                        <div class="comment_info">
                                            <div class="comment_name"><a href="#">{{list.name}}</a></div>
                                            <div class="comment_time">{{list.added_on | date:'dd/MM/yyyy'}}</div>
                                        </div>
                                    </div>
                                    <div class="comment_text">
                                        <p>{{list.blog_comment}}</p>
                                    </div>
                                </div>
                            </li>                           
                        </ul>
                    </div>
                    <!-- <div class="comments_more">
                        <div class="comments_more_button"><a href="#">load more</a></div>
                    </div> -->
                </div>
            </div>

            <div class="row register">
                <div class="col-lg-12 offset-lg-3">
                    <div class="register_form_title mb-4">Post a Comment</div>
                    <div class="register_form_container">
                        <div class="row register_row">
                            <form  role="form" #f="ngForm" (ngSubmit)="f.form.valid && postComment(f) ">
                                <!-- <div class='col-md-6'> -->
                            <div class="col-lg-6 register_col">
                                <input type="text" class="form-control" placeholder="Name" name="name"  [(ngModel)]='addcomm.name' #name="ngModel" [ngClass]="{'invalid-data': name.invalid && f.submitted, 'valid-data': name.valid && f.submitted}" required/>
                                <div class="error_msg" *ngIf="name.errors && (name.dirty || name.touched || f.submitted)">
                                    <!-- f.submitted && name.invalid -->
                                    <div *ngIf="name.errors.required">
                                        <small class="error_text" >Name is required</small> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 register_col">
                                <input type="email" class="form-control" id="email_id" placeholder="Email" name="email_id" [(ngModel)]='addcomm.email_id' #email_id="ngModel" [ngClass]="{'invalid-data': email_id.invalid && f.submitted, 'valid-data': email_id.valid && f.submitted}" [pattern]="emailPattern" required/>

                                <div class="error_msg" *ngIf="email_id.errors && (email_id.dirty || email_id.touched || f.submitted)">
                                    <!-- f.submitted && email_id.invalid -->
                                    <div *ngIf="email_id.errors.required">
                                        <small class="error_text" > Email Id is required</small> 
                                    </div>
                                    <div *ngIf="email_id.errors.pattern">
                                        <small class="error_text" > Email Id is invalid</small> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <textarea class="form-control form_text" id="blog_comment" placeholder="Comment" name="blog_comment" [(ngModel)]='addcomm.blog_comment' #blog_comment="ngModel" [ngClass]="{'invalid-data': blog_comment.invalid && f.submitted, 'valid-data': blog_comment.valid && f.submitted}" required></textarea>
                                <div class="error_msg" *ngIf="blog_comment.errors && (blog_comment.dirty || blog_comment.touched || f.submitted)">
                                    <!-- f.submitted && blog_comment.invalid -->
                                    <div *ngIf="blog_comment.errors.required">
                                        <small class="error_text" >Comment is required</small> 
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <button class="form_button trans_200" >post a comment</button>
                                <!-- (click)='postComment();' -->
                            </div>
                        <!-- </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>