.blog-container{margin:100px 0 50px;}
.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button{min-width:3em;}
.modal-header{background: linear-gradient(45deg, #1de099, #1dc8cd);}
.table .action-img-div{width: 20px;float:left;}
.table .action-img-div img{width: 100%;}
#footer{display:none;}
.modal-body{padding:0!important;}
.modal .card-header{padding: 15px;font-weight:500;font-size:18px;}
.modal-close{top:13px;font-size:25px;}
.form-switch .form-check-input:focus{outline: 0; box-shadow: none;}
.action-img-div{margin-right:15px;}
#updateBlog{margin-top:5px;}
.status-img{width:22px;}
.action-img-div i,.action-img-div input,.action-img-div img{cursor:pointer;}
#commentApprovalModal #comment_user{font-weight: 700;font-size: 15px;margin-right: 10px;}
#commentApprovalModal #comment_txt{margin: 2px 0 15px;}
.fa-thumbs-o-up,.fa-thumbs-o-down{font-size:18px;cursor:pointer;}
.fa-thumbs-o-up{margin-right:15px;color:#1edaa9;}
.fa-thumbs-o-down{color:#de5d47;}
#commentApprovalModal #comment_date{margin-right:10px;}
.angular-editor-toolbar{font-size:14px!important;padding:.2rem;}
.angular-editor-toolbar button{margin:10px!important;padding:5px;border-radius:5px;}
#addPostModal .modal-lg{max-width: 90%;width: 90%;}

.view-blog{height:674px; overflow-y: auto; overflow-x: hidden}