<div class="backdrop" [ngStyle]="{'display':displayBlog}"></div>
<div class="backdrop" [ngStyle]="{'display':categorydisplay}"></div>
<div class="backdrop" [ngStyle]="{'display':commentdisplay}"></div>
<div class="backdrop" [ngStyle]="{'display':viewBlogModal}"></div>

<div class="wrapper container">
    <div class="main">
        <main class="content">
            <div class="container-fluid p-0">
                <h1 class="h3 mb-3 clearfix">
                    Blog List
                    <button class='btn btn-primary float-right' (click)='openBlogModal()'>Add Blog</button>
                    <button class='btn btn-primary bg-orange float-right mx-3' (click)='openCatModal()'>Add Category</button>
                </h1>
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card">
                            <div class="card-body h-100">
                                <table class='table-bordered table'>
                                    <thead>
                                        <tr>
                                            <!-- <th>Blog Image</th> -->
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Created Date</th>
                                            <th>Status</th>
                                            <th>Approval Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let blog of bloglist | paginate: {itemsPerPage:10, currentPage: p}">
                                            <!-- <td class='table-thumbnail-img'>
                                                <img src={{imgurl}}{{blog.poster_url}} class='w-100' />
                                            </td> -->
                                            <td style='text-transform: capitalize;'>{{blog.title}}</td>
                                            <td>{{blog.category_name}}</td>
                                            <td>{{blog.created_date  | date:'dd/MM/yyyy'}}</td>
                                            <td style='text-transform:uppercase;'><span [ngClass] = "blog.blog_status == 'Enable' ? 'label label-success' : 'label label-danger'">{{blog.blog_status}}</span></td>
                                            <td>
                                                <img src='assets/img/approve.png' *ngIf="blog.approval_status == 'Y'" class='status-img' />
                                                <img src='assets/img/disapprove.png' class='status-img' *ngIf="blog.approval_status == 'N'" />
                                            </td>
                                            <td class='clearfix'>
                                                <div class='action-img-div'>
                                                    <img src='assets/img/edit.png' class='action-img' (click)=[editBlog(blog.blog_id)] />
                                                </div>
                                                <div class='action-img-div' *ngIf='access.blog_change_status_access == 1'>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [attr.checked]="blog.blog_status == 'Enable' ? true : null" (change)='[disableBlog($event,blog.blog_id)]' />
                                                    </div>
                                                </div>
                                                <div class='action-img-div'>
                                                    <i class="fa fa-comments-o" aria-hidden="true" style='color:#630460;margin-left:10px;' (click)=[commentModal(blog.blog_id)]></i>
                                                </div>
                                                <div class='action-img-div'>
                                                    <i class="fa fa-eye" aria-hidden="true" style='color:#d9534f;margin-left:10px;' (click)='viewModal(blog.blog_id)'></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination float-right">
                                    <li class="page-item"><a (click)="previousClick()" class="page-link">Previous</a></li>
                                    <li *ngFor='let index of pageIndexes' class="page-item">
                                        <a (click)="changePagination(index)" id='pagination_{{index}}' class="page-link"> {{index}} </a>
                                    </li>
                                    <li class="page-item"><a (click)="nextClick()" class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal" id="addPostModal" [ngStyle]="{'display':displayBlog}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add Blog</h5>
                <button class="close" data-dismiss="modal"(click)='closeBlogModal(f);'>
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                   
                    <form id='blog_form' name='addBlogForm' #f="ngForm" (ngSubmit)="f.form.valid && submit(f) ">
                        <!-- && submit(f) -->
                        <input type='hidden' name='blog_id' id='blog-id' [value]=edit_id />
                        <img [src]='imageToShow' class='col-md-4'  *ngIf='edit' />
                        <div class="form-group col-md-4">
                            <label for="title">Title<span style="color: red;">*</span></label>
                            <input type="text" name='title' class="form-control" id='title' value="" placeholder='Enter the title of the blog' [(ngModel)]='editblog.title'  #title='ngModel'  [ngClass]="{'invalid-data': title.invalid && f.submitted, 'valid-data': title.valid && f.submitted}"  required />
                            <div class="error_msg"
                            *ngIf="f.submitted && title.invalid">
                                <div *ngIf="title.errors.required">
                                    <small class="error_text" >Blog Title is required</small> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="category">Category<span style="color: red;">*</span></label>
                            <select class="form-control" name='category' id='category' [(ngModel)]='editblog.category'  #category='ngModel'  [ngClass]="{'invalid-data': category.invalid && f.submitted, 'valid-data': category.valid && f.submitted}"  required>
                                <option value=''>Select Blog Category</option>
                                <option [value]='list.category_id' *ngFor='let list of blogCatlist'>{{list.category_name}}</option>
                            </select>
                            <div class="error_msg"
                            *ngIf="f.submitted && category.invalid">
                                <div *ngIf="category.errors.required">
                                    <small class="error_text" >Blog Category is required</small> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="blog-image">Upload Image</label>
                            <input type="file" name='blog_image' class="form-control custom-file-input" id="blog-image" (change)='selectImage($event)' [(ngModel)]='editblog.imgurl' />
                            <!-- #imgurl='ngModel'  [ngClass]="{'invalid-data': imgurl.invalid && f.submitted, 'valid-data': imgurl.valid && f.submitted}"  required 
                            <div class="error_msg"
                            *ngIf="f.submitted && imgurl.invalid">
                                <div *ngIf="imgurl.errors.required">
                                    <small class="error_text" >Blog Image is required</small> 
                                </div>
                            </div> -->
                        </div>
                        <div class="form-group col-md-12">
                            <label for="description">Blog<span style="color: red;">*</span></label>
                            <angular-editor id='description' name='blog_description' [config]="editorConfig" [(ngModel)]="editblog.description" #description="ngModel" [ngClass]="{'invalid-data': description.invalid && f.submitted, 'valid-data': description.valid && f.submitted}"  required  ></angular-editor>
                            <div class="error_msg"
                            *ngIf="f.submitted && description.invalid">
                                <div *ngIf="description.errors.required">
                                    <small class="error_text" >Blog  is required</small> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4" *ngIf='edit && access.blog_approve_access == 1'>
                            <label for="approval_status">Approval Status</label>
                            <select id='approval_status' name='approval_status' class='form-control' [(ngModel)]='editblog.approval_status'  #approval_status='ngModel'  [ngClass]="{'invalid-data': approval_status.invalid && f.submitted, 'valid-data': approval_status.valid && f.submitted}"  required>
                                <option value=''>Select Status</option>
                                <option value='Y'>Approve</option>
                                <option value='N'>Disapprove</option>
                            </select>
                            <div class="error_msg"
                            *ngIf="f.submitted && approval_status.invalid">
                                <div *ngIf="approval_status.errors.required">
                                    <small class="error_text" >Approval Status is required</small> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for='updateBlog' *ngIf='edit'></label>
                            <button class="btn btn-primary" type='submit' [ngStyle]="{'display': (blogtype=='add') ? 'block' : 'none'}" *ngIf='!edit'> Add Blog </button>
                            <!-- *ngIf='!edit' (click)='addBlog($event);' -->
                            <button class="btn btn-primary" id='updateBlog'  [ngStyle]="{'display': (blogtype=='update') ? 'block' : 'none'}" *ngIf='edit' (click)='updateBlog(editblog)' > Update Blog </button>
                            <!--(click)='updateBlog()  -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="categoryModal" class="modal" role="dialog" [ngStyle]="{'display':categorydisplay}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class='mb-3 card-header'> Add Category <span class='close modal-close' (click)='closeBlogModal(g)' data-dismiss="modal">&times;</span> </h5>
                <div class='px-4'>
                    <form  role="form" #g="ngForm" (ngSubmit)="g.form.valid && addBlogCat(g)">
                        <div class='col-md-12'>
                            <div class='form-group'>
                                <label for='blog_category_name'>Blog Category Name</label>
                                <input type='text' id='blog_category_name' class='form-control' placeholder='Add Blog Category Name' [(ngModel)]='addcat.category_name' name="category_name" #category_name='ngModel' [ngClass]="{'invalid-data': category_name.invalid && g.submitted, 'valid-data': category_name.valid && g.submitted}" required />
                                <div class="error_msg" *ngIf="g.submitted && category_name.invalid">
                                    <div *ngIf="category_name.errors.required">
                                        <small class="error_text" >Blog Category Name is required</small> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class='form-group'>
                                <label for='submit_btn_add'> &nbsp; </label>                        
                                <button id='submit_btn_add' class='btn btn-primary bg-orange' >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>

<div id="commentApprovalModal" class="modal" role="dialog" [ngStyle]="{'display':commentdisplay}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class='mb-3 card-header'> Comment Approval <span class='close modal-close' (click)='closeCommentModal()' data-dismiss="modal">&times;</span> </h5>
                <div class='px-4'>
                    <div class='col-md-12 p-0 my-4' *ngIf='commentlist.length == 0'>
                        <h4 style='text-align:center;margin-top:10px;color: #de5d47;'>No Comments to be displayed</h4>
                    </div>
                    <div class='col-md-12 p-0 my-4' *ngFor='let list of commentlist'>
                        <span id='comment_user'>{{list.name}}</span> 
                        <span id='comment_date'>{{list.added_on | date:'dd/MM/yyyy'}}</span>
                        <span [ngClass] = "list.approval_status == 'Y' ? 'label label-success' : 'label label-danger'">
                            <span *ngIf="list.approval_status == 'Y'">Approved</span>
                            <span *ngIf="list.approval_status == 'N'">Disapproved</span>
                            <span *ngIf="list.approval_status == 'D'">Newly Added</span>
                        </span>
                        <p id='comment_txt'> 
                            <i class="fa fa-quote-left" aria-hidden="true"></i>  
                            {{list.blog_comment}}  
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </p>
                        <p class='m-0'> 
                            <i class="fa fa-thumbs-o-up" aria-hidden="true" (click)='approveComment(list.comment_id,"Y");'></i> 
                            <i class="fa fa-thumbs-o-down" aria-hidden="true" (click)='approveComment(list.comment_id,"N");'></i>
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="modal" id="viewBlogModal" [ngStyle]="{'display':viewBlogModal}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">View Blog</h5>
                <button class="close" data-dismiss="modal"(click)='closeViewModal();'> <span>&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="card-body p-0">
                    <div class='row'>
                        <div class='col-md-7 pl-1'>
                            <img [src]='imageToShow' class='w-100' *ngIf='imageToShow' />
                            <img src='../../../assets/img/no-img-found-medium.png' class='w-100' *ngIf='!imageToShow' />
                        </div>
                        <div class='col-md-5 py-3'>
                            <div class="form-group col-md-12 p-0">
                                <label for="view_title">Title</label>
                                <p id='view_title'> {{viewblog.title}} </p>
                            </div>
                            <div class="form-group col-md-12 p-0">
                                <label for="view_category">Category</label>
                                <p id='view_category'> {{viewblog.category_name}} </p>
                            </div>
                            <div class="form-group col-md-12 p-0">
                                <label for="view_approve_status" class='w-100'>Approval Status</label>
                                <p class='label label-success' id='view_approve_status' *ngIf = "viewblog.approval_status == 'Y'"> Approved </p>
                                <p class='label label-danger' *ngIf = "viewblog.approval_status == 'N'"> Not Approved </p>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="form-group col-md-12 px-5 py-3">
                            <label for="view_description" class='w-100'>Description</label>
                            <p id='view_description' [innerHTML]='viewblog.description' class='p-1'></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>