<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Mission and Vision</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="inner-page">
        <div class="container">
            <main id="main">
                <section id="purpose" class="section-bg">
                    <div class="container-fluid" data-aos="fade-up">
                        <div class="section-header"> </div>
                        <div class="row">
                            <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
                                <img src="../../../assets/img/mission/purpose.jpg" alt="">
                            </div>      
                            <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
                                <div data-aos="fade-up">
                                    <h3 class="title"><a href=""><br>Purpose</a></h3>
                                    <p class="description">Sing and Share is a community of young men and women who follow Jesus wholeheartedly. Our focus is on growing deep and wide. Deep in our relationship with Christ, wide in our relationship with one another. <br><i>"He is the one we proclaim, admonishing and teaching everyone with all wisdom, so that we may present everyone fully mature in Christ." Colossians 2:28</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="features">
                    <div class="container" data-aos="fade-up">
                        <div class="row">
                            <div class="col-md-6">                   
                                <h2>What we do</h2>
                                <p class="description">Regular gathering of believers, worshipping God and deeper Bible studies are key highlights of Sing and Share. We focus on deliberately building relationships, sharing the good news, teaching the word of God, mentoring and coaching  young people, building leaders and transforming communities.</p>
                            </div>
                            <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
                                <img class="img-responsive" src="../../../assets/img/mission/wedo.jpg">
                            </div>
                        </div>
                    </div>      
                </section>
                <section id="team" class="section-bg">
                    <div class="container" data-aos="fade-up">
                        <div class="section-header">
                            <h3 class="section-title">Who we are</h3>
                            <div class="col-lg-6 pic">
                                <img src="../../../assets/img/mission/weare.jpg" alt="">
                            </div>
                            <div class='col-lg-6' data-aos="fade-up" dat-aos-delay="100">
                                <span class="description">Our core values are </span>
                                    <ol>
                                        <li>Welcoming </li>
                                        <li>Belonging</li>
                                        <li>Caring</li>
                                        <li>Relating</li>
                                        <li>Integrating</li>
                                    </ol>
                                <span>You are not alone. Come join us.</span>
                            </div>
                        </div>       
                    </div>
                </section>
            </main>
        </div>
    </section>
</main>