.action-img{width:20px;cursor:pointer;}
.action-img-div{border-radius: 50px;padding:0 10px 0;width:max-content;display:inline-block;margin:0;}
.table-thumbnail-img{width: 110px;height: 50px;}
.modal-body{padding:0!important;}
.modal .card-header{padding: 15px;font-weight:500;font-size:18px;}
.modal-close{top:13px;font-size:25px;}
.form-switch .form-check-input:focus{outline: 0; box-shadow: none;}
.event-tab{cursor:pointer;}
#preview_gallery_img .preview-img-div{width:150px;height:150px;}
#galleryModal{overflow-y:auto;}
#preview_gallery_img{padding-right:0;}
.icon-danger .action-img-div img{opacity:0.5;pointer-events: none;}
.badge{font-size: 9px;padding: 2px 4px;}
.badge-success{background-color: #5cb85c;}
.close-img-prv{position: absolute;
    right: 50%;
    font-size: 40px;
    color: red;}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .event-img-prv{display:inline-block}
.remove-img{float:right;margin-top:10px;position: relative;left: -14%;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .event-img-prv{display:-webkit-box}
.remove-img{float:right;margin-top:10px;position: relative;left: -14%;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .event-img-prv{display:inline-flex}
   .remove-img{float:right;margin-top:10px;position: relative;left: -14%;}
  }