<div class="backdrop" [ngStyle]="{'display':displayLogin}"></div>
<!-- <div class="demo"></div> -->
<header id="header" class="fixed-top align-items-center">
    <div class="container d-flex align-items-center">

        <div id="logo">
            <a href="index.html"><img src="../../../assets/img/logo.png" alt=""></a> 
        </div>

        <nav id="navbar" class="navbar">
            <ul [class.active]="classtoggle">
                <li *ngIf="loggeduser == false"><a class="nav-link scrollto" href="/home">Home</a></li>
                <li class="nav-link scrollto dropdown" *ngIf="loggeduser == false"><a style='color:black;'><span>About</span> 
                </a>
                    <!-- <ul>
                        <li><a href="/mission">Mission and Vision</a></li>
                        <li><a href="/believe">What we Believe</a></li>
                    </ul> -->
                </li>
                <li class="dropdown" *ngIf="loggeduser == false"><a style='color:black;'><span>I'm New</span> 
                </a>
                    <!-- <ul>
                        <li><a href="/firststep">First Step</a></li>
                    </ul> -->
                </li>
                <li class="dropdown" *ngIf="loggeduser == false"><a style='color:black;'><span>Resources</span> 
                </a>
                    <!-- <ul>
                        <li class="nav-link scrollto dropdown"><a href="/gallery">Gallery</a></li>
                        <li class="nav-link scrollto dropdown"><a href="/blog-all">Blog</a></li>
                    </ul> -->
                </li>
                <li *ngIf="loggeduser == false"><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li *ngIf="loggeduser == false"><a class="nav-link" (click)='openLoginModal()'>Login</a></li>
                
                <li *ngIf="loggeduser"><a class="nav-link" href='/pcs'>PCS</a></li>
                <li *ngIf="loggeduser && access.sns_access == 1"><a class="nav-link" href='/sns'>SNS</a></li>
                <li *ngIf="loggeduser && access.user_access == 1"><a class="nav-link" href='/user'>User</a></li>
                <li *ngIf="loggeduser && access.event_access == 1"><a class="nav-link" href='/events'>Event</a></li>
                <li *ngIf="loggeduser && access.attendance_access == 1"><a class="nav-link" href='/attendance'>Attendance</a></li>
                <li *ngIf="loggeduser"><a class="nav-link" href='/calendar'>Calendar</a></li>
                <li *ngIf="loggeduser && access.blog_access == 1"><a class="nav-link" href='/addblog'>Blog</a></li>
                <li class="dropdown" *ngIf="loggeduser && role_name != 'Mentee' "><a style='color:black;'><span>Reports</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li class="dropdown" *ngIf="loggeduser && (role_name == 'Admin' || role_name == 'Captain')">
                            <a style='color:#000;'><span>Fellowship</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li class="nav-link"><a href="/report/attendance">Attendance</a></li>
                                <li class="nav-link"><a href="/report/fellowship">Fellowship</a></li>
                                <li class="nav-link"><a href="/report/topic">Fellowship Topic</a></li>
                                <li class="nav-link"><a href="/report/attendance-avg">Attendance - Avg</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" *ngIf="loggeduser && role_name == 'Admin'">
                            <a style='color:#000;'><span>Mentor</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li class="nav-link"><a href="/report/mentor">List</a></li>
                                <li class="nav-link"><a href="/report/new-mentors">New List</a></li>
                                <li class="nav-link"><a href="/report/non-active-mentor">Activity List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" *ngIf="loggeduser && role_name == 'Admin'">
                            <a style='color:#000;'><span>Mentee</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li class="nav-link"><a href="/report/mentee">List</a></li>
                                <li class="nav-link"><a href="/report/new-mentees">New List</a></li>
                                <li class="nav-link"><a href="/report/non-active-mentee">Activity List</a></li>
                            </ul>
                        </li>
                        <li class="nav-link" *ngIf="loggeduser && role_name == 'Admin'"><a href="/report/pcs">PCS</a></li>
                        <li class="dropdown" *ngIf="loggeduser && role_name == 'Admin'">
                            <a style='color:#000;'><span>LMS</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li class="nav-link"><a href="/report/lms">Class</a></li>
                                <li class="nav-link"><a href="/report/lesson-status">Lessons</a></li>
                                <li class="nav-link"><a href="/report/lms-mentor-activity">Mentor Activity</a></li>
                                <li class="nav-link"><a href="/report/lms-mentee-activity">Mentee Activity</a></li>
                                <li class="nav-link"><a href="/report/lessons-completed">Lessons Completed</a></li>
                            </ul>
                        </li>
                        <li class="nav-link" *ngIf="loggeduser && role_name == 'Admin'"><a href="/report/events">Events</a></li>
                        <li class="nav-link" *ngIf="loggeduser && (role_name == 'Admin' || role_name == 'Captain')"><a href="/report/organization">Organizational</a></li>
                    </ul>
                </li>
                
                <!-- <li *ngIf="loggeduser"><a class="nav-link" href='/profile'>Training</a></li> -->

                <li class="dropdown" *ngIf="loggeduser"><a style='color:black;'><span>Training</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li class="nav-link" *ngIf="role_name == 'Mentee'"><a href="/training/dasboard">Dashboard</a></li>
                        <li class="nav-link" *ngIf="role_name == 'Mentor'"><a href="/training/mentor/dasboard">Dashboard</a></li>
                        <li class="nav-link" *ngIf="role_name == 'Admin'"><a href="/training/category">Category</a></li>
                        <li class="nav-link" *ngIf="role_name == 'Admin'"><a href="/training/course">Course</a></li>
                        <li class="nav-link" *ngIf="role_name == 'Admin'"><a href="/training/lesson">Lesson</a></li>
                        <li class="nav-link" *ngIf="role_name != 'Mentee'"><a href="/training/class">Class</a></li>
                    </ul>
                </li>
            </ul>
            <span *ngIf="loggeduser" id='header-user-icon'>
                <span (click)='toggleHeaderMenu()' id='name_initials' class="tooltip" style='cursor:pointer;'> 
                    {{f_nme}}{{l_nme}}
                    <span class="tooltiptext">{{this.tk.first_name}} {{this.tk.last_name}}</span>
                </span>
                <ul id='user-action' *ngIf="classApplied == true">
                    <li><a href='/profile'>My Profile</a></li>
                    <hr />
                    <li><a href='#' (click)='logOut()'>Logout</a></li>
                </ul>
            </span>
            <i class="bi bi-list mobile-nav-toggle" (click)="navToggleClass()"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<div class="modal" id="login_modal" [ngStyle]="{'display':displayLogin}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body clearfix">
              
                <div *ngIf="loginshow ;then loginform else fpwdform"></div>
               
                <ng-template id="login_form" #loginform>
                    <span class='close modal-close' (click)='closeLoginModal(f)' data-dismiss="modal">&times;</span>
                    <div class="modal-title text-center">
                        <img src="../../../assets/img/logo.png" alt="">
                        <h3 class="welcome"><b>Welcome to Members Login</b></h3>
                    </div>
                    <form  name='addClassForm' role="form" #f="ngForm" (ngSubmit)="f.form.valid && userLogin(f)">
                    <div class='form-group col-md-12'>
                        <label for='email_id'>Email ID<span style="color: red;">*</span></label>
                        <input type='text' class='form-control' id='email_id' name="email" placeholder='Enter your Email ID' [(ngModel)]="userdetails.email" #email='ngModel' [pattern]="emailPattern" [ngClass]="{'invalid-data': email.invalid && f.submitted, 'valid-data': email.valid && f.submitted}"  required/>
                        <!-- <div class="error_msg"*ngIf="f.submitted && email.invalid"> -->
                        <div class="error_msg" *ngIf="email.errors && (email.dirty || email.touched || f.submitted)">
                        <div *ngIf="email.errors.required">
                            <small class="error_text"> Email Id is required</small>
                        </div>
                        <div *ngIf="email.errors.pattern">
                            <small class="error_text" > Email Id is invalid</small> 
                        </div>
                    </div>
                    </div>
                    <div class='form-group  col-md-12'>
                        <label for='your_password'>Password<span style="color: red;">*</span></label>
                        <div class="input-group">
                        <input type='password' class='form-control' id='your_password' name="pass_word" [type]="hide ? 'password' : 'text'" placeholder='Enter your Password' [(ngModel)]="userdetails.pass_word" #pass_word='ngModel'  [ngClass]="{'invalid-data': pass_word.invalid && f.submitted, 'valid-data': pass_word.valid && f.submitted}" required />
                        <div class="input-group-addon">
                        <i class="fa" [ngClass]="{'fa-eye-slash': !hide, 'fa-eye': hide}"   aria-hidden="true" (click)="toggleFieldTextType()"></i>
                          </div>
                        </div>
                        <div class="error_msg"
                        *ngIf="f.submitted && pass_word.invalid">
                        <div *ngIf="pass_word.errors.required">
                            <small class="error_text"> Password is required</small>
                        </div>
                    </div>
                    </div>
                    <div class='form-group col-md-12'>
                        <label for='user_login'> &nbsp; </label>
                        <button class='btn btn-primary' style="width: 70%; margin: auto; display: block;" id='user_login'  >Login</button>
                        <!-- (click)='userLogin()' -->
                    </div>
                    </form>
                    <div class="fpwd text-center">
                        <a (click)=fpwd() style='cursor:pointer;'>Forgot password?</a>
                    </div>
                </ng-template>
                
                <ng-template id="fpwd_form" #fpwdform>
                    <span class='close modal-close' (click)='closeLoginModal(f)' data-dismiss="modal">&times;</span>
                    <div class="modal-title text-center">
                        <img src="../../../assets/img/logo.png" alt="">
                        <h3 class="fpwd"><b>Forgot Password?</b></h3>
                        <small>you can reset your password here</small>
                    </div>
                    <form  name='addClassForm' role="form" #g="ngForm" (ngSubmit)="g.form.valid && forgotPassword(g)">
                    <div class='form-group col-md-12'>
                        <label for='forgot_email_id'>Email ID<span style="color: red;">*</span></label>
                        <input type='text' class='form-control' id='forgot_email_id' name="email_id" placeholder='Enter your Email ID' [(ngModel)]="forgotpassword.email_id" #email_id='ngModel' [pattern]="emailPattern" [ngClass]="{'invalid-data': email_id.invalid && g.submitted, 'valid-data': email_id.valid && g.submitted}" required/>
                        <!-- <div class="error_msg"*ngIf=" g.submitted && email_id.invalid"> -->
                     <div class="error_msg" *ngIf="email_id.errors && (email_id.dirty || email_id.touched || g.submitted)">
                        <div *ngIf="email_id.errors.required">
                            <small class="error_text"> Email Id is required</small>
                        </div>
                        <div *ngIf="email_id.errors.pattern">
                            <small class="error_text" > Email Id is invalid</small> 
                        </div>
                    </div>
                    </div>
                    
                    <div class='form-group col-md-12'>
                        <label for='forgot_password'> &nbsp; </label>
                        <button class='btn btn-primary' style="width: 70%; margin: auto; display: block;" id='forgot_password' >Send My Password</button>
                        <!-- (click)='forgotPassword()' -->
                    </div>
                </form>
                </ng-template>              
            </div>
        </div>
    </div>
</div>