.btn-primary{background-color: #630460;border-color: #630460;}
.inner-page .col-lg-6 img,#firststep img{width:100%;}
#features{padding:0;}
#firststep{padding:0;}
.container-fluid{padding:0;}
#team,#team .col-lg-6{padding:0;}