<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>First-Step</li>
                </ol>
            </div>
        </div>
    </section>    
    <section class="inner-page">
        <div class="container">
            <main id="main">
                <section id="firststep" class="section-bg">
                    <div class="container-fluid" data-aos="fade-up">
                        <img src='assets/img/we-are-new.jpg' />
                        <div class="section-header">
                            <h3 class="section-title mt-5">Content</h3>
                            <span class="section-divider"></span>
                            <p class="section-description mb-5"> Description </p>
                        </div>
                    </div>
                </section>
                <section id="features">
                    <div class="container" data-aos="fade-up">        
                        <div class="row">     
                            <div class="col-lg-6">
                                <div class="section-header">
                                    <h3 class="section-title mt-5">Content</h3>
                                    <span class="section-divider"></span>
                                    <p class="section-description mb-5">Details.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img src='assets/img/img-2.jpg' />
                            </div>
                        </div>
                    </div>
                </section>
                <section id="team" class="section-bg">
                    <div class="container" data-aos="fade-up">
                        <div class="row">     
                            <div class="col-lg-6">
                                <img src='assets/img/img-3.jpg' />
                            </div>
                            <div class="col-lg-6">
                                <div class="section-header">
                                    <h3 class="section-title mt-5">Content</h3>
                                    <span class="section-divider"></span>
                                    <p class="section-description mb-5">Details.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="contact">
                    <div class="container" data-aos="fade-up">     
                        <div class="row">                       
                            <div class="col-lg-5 col-md-8">
                                <div class="form">
                                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                            </div>
                                            <div class="form-group col-lg-6 mt-3 mt-lg-0">
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <select class="form-control" required>
                                                    <option value="">--I want to--</option>
                                                    <option>attend fellowship/events</option>
                                                    <option>join a Bible study group</option>
                                                    <option>Know more</option>
                                                    <option>Share prayer point</option>
                                                    <option>Share praise point</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-6 mt-3 mt-lg-0">
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Phone" data-rule="minlen:10" data-msg="Phone number must have 10 chars">
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" title="Send Message">Send Message</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </section>
</main>