<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Mission and Vision</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="inner-page">
        <div class="container">
            <main id="main">
                <section id="firststep" class="section-bg">
                    <div class="container-fluid" data-aos="fade-up">
                        <div class="col-lg-12 content" data-aos="fade-left" dat-aos-delay="100">
                            <div data-aos="fade-up">
                                <div class="section-header">
                                    <h3 class="section-title">God</h3>
                                    <span class="section-divider"></span>
                                    <p class="description">We believe in One eternally existing God who created all things. We believe there is one God, one in essence but eternally existent in three persons: Father, Son and Holy Spirit having precisely the same nature, attributes, and perfections and worthy of precisely the same homage, confidence, and obedience. God is perfect in love, power, holiness, goodness, knowledge, wisdom,  justice, and mercy. He is unchangeable and therefore is the same yesterday, today, and forever.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 content" data-aos="fade-left" dat-aos-delay="100">
                            <div data-aos="fade-up">
                                <div class="section-header">
                                    <h3 class="section-title">Jesus Christ</h3>
                                    <span class="section-divider"></span>
                                    <p class="description">We believe in God the Son, the Lord Jesus Christ. He was born of a virgin, led a sinless life, died on the cross for the sins of humanity, and rose again the third day. He is ascended to the right hand of the Father and will one day come again.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 content" data-aos="fade-left" dat-aos-delay="100">
                            <div data-aos="fade-up">
                                <div class="section-header">
                                    <h3 class="section-title">The Holy Spirit</h3>
                                    <span class="section-divider"></span>
                                    <p class="description">We believe in God the Holy Spirit. He regenerates and indwells the believer, baptizing them into the Body of Christ. After regeneration, He fills the believer with power. </p>
                                </div>
                            </div>
                        </div>               
                        <div class="col-lg-12 cotent" data-aos="fade-left" dat-aos-delay="100">
                            <div data-aos="fade-up">
                                <div class="section-header">
                                    <h3 class="section-title">The Scriptures</h3>
                                    <span class="section-divider"></span>
                                    <p class="description">
                                        We believe that the Bible, both Old Testament and New Testament, is God's Holy Word. It is inspired by God. The Bible is without error. Its authority is final and eternal. God's Holy Word is the ultimate source of doctrine, instruction, and correction for humanity.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 content" data-aos="fade-left" dat-aos-delay="100">
                            <div data-aos="fade-up">
                                <div class="section-header">
                                    <h3 class="section-title">Sin and Salvation</h3>
                                    <span class="section-divider"></span>
                                    <p class="description">
                                    Jesus Christ came to reconcile us to God. He lived a life without sin and willingly died on the cross to pay the penalty for our transgressions. He was raised from the dead and now by grace offers eternal life as a free gift to all who follow Christ. That is why salvation can be found in Christ alone.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 content" data-aos="fade-left" dat-aos-delay="100">
                            <div data-aos="fade-up">
                                <div class="section-header">
                                    <h3 class="section-title">The Church</h3>
                                    <span class="section-divider"></span>
                                    <p class="description">We believe that all who are united to the risen and ascended Son of God are members of Christ's one invisible and universal church. We also believe that local churches exist as expressions of the universal body of Christ, and are essential in the plan and purpose of God.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 content" data-aos="fade-left" dat-aos-delay="100">
                            <div data-aos="fade-up">
                                <div class="section-header">
                                    <h3 class="section-title">The Future</h3>
                                    <span class="section-divider"></span>
                                    <p class="description">We believe in the bodily resurrection and judgment of all individuals. Believers are resurrected to enjoy eternal life with God and unbelievers are resurrected to eternal suffering apart from God.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </section>
</main><!-- End #main -->