<div class="backdrop" [ngStyle]="{'display':userModaldisplay}"></div>

<div class="wrapper container mb-5">
    <div class="main">
        <main class="content">
            <h1 class="h3 mb-5">
                Attendance Form
                <button class='btn btn-primary float-right' *ngIf="this.tk.role_name == 'Captain'" (click)='openModal()'>Add User</button>
            </h1>
            <div class="row">
                <div class="col-md-5 card p-0">
                    <div class="card-body h-100 p-0">
                        <h5 class='mb-3 p-4 font-weight-bold card-header'>Add Attendance</h5>
                        <div class='row px-4'>
                            <form  role="form" #f="ngForm" (ngSubmit)="f.form.valid && addAttendance(f) ">
                                <div class='col-md-12'>
                                    <div class='form-group'>
                                        <label for='attend_sns_name'>SNS Name<span style="color: red;">*</span></label>
                                        <select class='form-control' id='attend_sns_name' [(ngModel)]='attendancedetails.srs_id' name="srs_id" #srs_id= 'ngModel' 
                                        [ngClass]="{'invalid-data': srs_id.invalid && f.submitted, 'valid-data': srs_id.valid && f.submitted}"  required disabled>
                                            <option value=''>Select the Name</option>
                                            <option [value]='list.srs_id' *ngFor="let list of srslist">{{list.srs_name}}</option>
                                        </select>
                                        <div class="error_msg" *ngIf="f.submitted && srs_id.invalid">
                                            <div *ngIf="srs_id.errors.required">
                                                <small class="error_text" >SNS Name is required</small> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <div class='form-group'>
                                        <label for='total_members'>Topic Name</label>
                                        <input type='text' class='form-control' placeholder='Name of the Topic' id='topic_name' name='topic_name' [(ngModel)]='attendancedetails.topic_name' #topic_name='ngModel' [ngClass]="{'invalid-data': topic_name.invalid && f.submitted, 'valid-data': topic_name.valid && f.submitted}" required/>
                                        <div class="error_msg" *ngIf="f.submitted && topic_name.invalid">
                                            <div *ngIf="topic_name.errors.required">
                                                <small class="error_text" >Topic Name is required</small> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <div class='form-group'>
                                        <label for='total_members'>Speaker Name</label>
                                        <input type='text' class='form-control' placeholder='Name of the Speaker' id='speaker_name' name='speaker_name' [(ngModel)]='attendancedetails.speaker_name' #speaker_name='ngModel' [ngClass]="{'invalid-data': speaker_name.invalid && f.submitted, 'valid-data': speaker_name.valid && f.submitted}" required/>
                                        <div class="error_msg" *ngIf="f.submitted && speaker_name.invalid">
                                            <div *ngIf="speaker_name.errors.required">
                                                <small class="error_text" >Speaker Name is required</small> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <div class='form-group'>
                                        <label for='meeting_date'>Meeting Date<span style="color: red;">*</span></label>
                                        <input type='date' class='form-control' placeholder='Select Meeting Date' id='meeting_date' [(ngModel)]='attendancedetails.meeting_date' name="meeting_date" #meeting_date= 'ngModel' 
                                        [ngClass]="{'invalid-data': meeting_date.invalid && f.submitted, 'valid-data': meeting_date.valid && f.submitted}" required >
                                        <div class="error_msg" *ngIf="f.submitted && meeting_date.invalid">
                                            <div *ngIf="meeting_date.errors.required">
                                                <small class="error_text" >Meeting Date is required</small> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <div class='form-group'>
                                        <label for='total_members'>Total Members</label>
                                        <input type='text' class='form-control' placeholder='No. of People Attended' id='total_members' name='total_members' [(ngModel)]='attendancedetails.total_members' readonly>
                                    </div>
                                </div>
                                <div class='col-md-12 p-0'>
                                    <div class='form-group col-md-6'>
                                        <label for='presentees'>Presentees</label>
                                        <input type='text' class='form-control' placeholder='No. of Presentees' id='presentees' name='presentees' [(ngModel)]='attendancedetails.presentees' readonly>
                                    </div>
                                    <div class='form-group col-md-6'>
                                        <label for='absentees'>Absentees</label>
                                        <input type='text' class='form-control' placeholder='No. of Absentees' id='absentees' name='absentees' [(ngModel)]='attendancedetails.absentees' readonly>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <div class='form-group'>
                                        <label for='new_people_attended'>No. of new Attendes</label>
                                        <input type='text' class='form-control' placeholder='No. of New People Attended' name='new_attendees' id='new_people_attended' [(ngModel)]='attendancedetails.new_attendees' #new_attendees="ngModel" [ngClass]="{'invalid-data': new_attendees.invalid && f.submitted, 'valid-data': new_attendees.valid && f.submitted}" pattern="^[0-9]*$"  required/>
                                        <div class="error_msg" *ngIf="f.submitted && new_attendees.invalid">
                                            <div *ngIf="new_attendees.errors.pattern">
                                                <small class="error_text" >Only Numbers allowed</small> 
                                            </div>
                                            <div *ngIf="new_attendees.errors.required">
                                                <small class="error_text" >No. of new Attendes is required</small> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-12 mt-3'>
                                    <div class='form-group'>
                                        <label for='add_attendance'> &nbsp; </label>
                                        <button class='btn-primary btn' id='add_attendance' >Add the details </button>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class='col-md-7'>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="drag-container">
                                <div class="section-heading">Members <span id='user_cnt'>{{total}}</span></div>
                                <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                                    <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]" class="item-list" (cdkDropListDropped)="drop($event,'user')">
                                        <div class="item-box" *cdkVirtualFor="let item of todo" title="{{item.user_email_id}}" cdkDrag>{{item.user_first_name}} {{item.user_last_name}}</div>
                                    </div>
                                  </cdk-virtual-scroll-viewport>
                                <!-- <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]" class="item-list" (cdkDropListDropped)="drop($event,'user')">
                                    <div class="item-box" *ngFor="let item of todo" title="{{item.user_email_id}}" cdkDrag>{{item.user_first_name}} {{item.user_last_name}}</div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="drag-container">
                                <div class="section-heading">Presentees <span id='present_cnt'>{{attendees}}</span></div>
                                <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[pendingList]" class="item-list" (cdkDropListDropped)="drop($event,'attendees')">
                                        <div class="item-box" *cdkVirtualFor="let item of done" title="{{item.user_email_id}}" cdkDrag>{{item.user_first_name}} {{item.user_last_name}}</div>
                                    </div>
                                  </cdk-virtual-scroll-viewport>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div id="userModal" class="modal" role="dialog" [ngStyle]="{'display':userModaldisplay}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class='mb-3 card-header'>
                    <span>Add User</span>
                    <span class='close modal-close' (click)='closeModal(g)' data-dismiss="modal">&times;</span>
                </h5>
                <div class='row px-4'>
                    <form  role="form" #g="ngForm" (ngSubmit)="g.form.valid && addUser(g) ">
                    <div class='col-md-6'>
                        <div class='form-group'>
                            <label for='mentee_first_name'>First Name</label>
                            <input type='text' placeholder='First Name' class='form-control' id='mentee_first_name' name="mentee_first_name" [(ngModel)]='user.mentee_first_name' #mentee_first_name="ngModel" [ngClass]="{'invalid-data': mentee_first_name.invalid && g.submitted, 'valid-data': mentee_first_name.valid && g.submitted}" pattern="^[0-9]*$" required/>
                            <div class="error_msg" *ngIf="g.submitted && mentee_first_name.invalid">
                                <div *ngIf="mentee_first_name.errors.required">
                                    <small class="error_text" >First Name is required</small> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='form-group'>
                            <label for='mentee_last_name'>Last Name</label>                      
                            <input type='text' placeholder='Last Name' class='form-control' id='mentee_last_name' name="mentee_last_name" [(ngModel)]='user.mentee_last_name'  #mentee_last_name="ngModel" [ngClass]="{'invalid-data': mentee_last_name.invalid && g.submitted, 'valid-data': mentee_last_name.valid && g.submitted}" pattern="^[0-9]*$" required/>
                            <div class="error_msg" *ngIf="g.submitted && mentee_last_name.invalid">
                                <div *ngIf="mentee_last_name.errors.required">
                                    <small class="error_text" >Last Name is required</small> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='form-group'>
                            <label for='mentee_email_id'>Email ID</label>
                            <input type='text' placeholder='Email ID' class='form-control' id='mentee_email_id' name="mentee_email_id" [(ngModel)]='user.mentee_email_id' #mentee_email_id="ngModel" [ngClass]="{'invalid-data': mentee_email_id.invalid && g.submitted, 'valid-data': mentee_email_id.valid && g.submitted}" pattern="^[0-9]*$" required/>
                            <div class="error_msg" *ngIf="g.submitted && mentee_email_id.invalid">
                                <div *ngIf="mentee_email_id.errors.required">
                                    <small class="error_text" >Email Id is required</small> 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='form-group'>
                            <label for='mentor_email_id'>Mentor Email Id</label> 
                            <select class='form-control' id='mentor_email_id' name="parent_id" (change)='mentorEmailDropdown($event)' [(ngModel)]='user.parent_id' #parent_id='ngModel' [ngClass]="{'invalid-data': parent_id.invalid && g.submitted, 'valid-data': parent_id.valid && g.submitted}"  required>
                                <option value=''>Select Mentor</option>
                                <option value='75'>dummy@admin.com</option>
                                <option value='{{list.user_id}}' *ngFor="let list of mentor">{{list.user_email_id}}</option>
                            </select>
                            <div class="error_msg" *ngIf="g.submitted && parent_id.invalid">
                                <div *ngIf="parent_id.errors.required">
                                    <small class="error_text" >Mentor Email Id is required</small> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='form-group'>               
                            <button id='submit_btn' class='btn btn-primary' >Submit</button>
                            <!-- (click)='addUser($event)' -->
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>
